* {
    margin: 0;
    padding: 0;
}

/* Multi Flex Setup */
body, #header-nav, #navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    color: #222831;
    background-color: #e8e8e8;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

/* Header - Nav */
#header-nav {
    border-bottom: 2px solid #222831;
    height: 215px;
    width: 100%;
}

/* Main Header */
#div-header {
    width: 100%;
}

#main-header {
    background-color: #222831;
    color: #e8e8e8;
    font-size: 28px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

/* Navigation */
#nav-div {
    background-color: #e8e8e8;
    overflow: auto;
    height: 100%;
    width: 100%;
}

#navbar {
    margin: 0 auto;
}

.nav-link {
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.nav-link:nth-child(odd) {
    background-color: #e8e8e8;
    color: #222831;
}

.nav-link:nth-child(even) {
    background-color: #30475e;
    color: #e8e8e8;
}

/* Main Content */
#main-div {
    width: 100%;
    overflow: auto;
}

#main-doc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 25px;
    width: 100%;
}

.main-section header {
    font-size: 24px;
}

.main-section p {
    padding: 10px 15px;
}

.main-section ul {
    padding: 10px 50px 0 50px;
}

.main-section ul li {
    padding: 10px 0;
}

code {
    background-color: #30475e;
    border-left: 5px solid #f05454;
    color: #e8e8e8;
    font-size: 12px;
    margin: 5px 0 5px 30px;
    padding: 20px;
}

/* Media Queries */
@media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
    }

    /* Header - Nav */
    #header-nav {
        border-right: 2px solid #222831;
        justify-content: flex-start;
        height: 100vh;
        position: fixed;
        width: 250px;
        z-index: 2;
    } 

    #navbar {
        padding-bottom: 10px;
    }

    /* Main Content */
    #main-div {
        left: 250px;
        position: absolute;
        width: calc(100% - 180px);
        z-index: 1;
    }

    #main-doc {

    }
}