* {
    margin: 0;
    padding: 0;
}

/* Multi Flex Setup */
body, #header-nav, #navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header - Nav */
#header-nav {
    height: 205px;
    width: 100%;
}

/* Main Header */
#div-header {
    width: 100%;
}

#main-header {
    background-color: dimgray;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

/* Navigation */
#nav-div {
    overflow: auto;
    width: 100%;
}

#navbar {
    margin: 0 auto;
}

.nav-link {
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.nav-link:nth-child(odd) {
    background-color: gainsboro;
}

.nav-link:nth-child(even) {
    background-color: grey;
}

/* Main Content */
#main-div {
    width: 100%;
    overflow: auto;
}

#main-doc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 25px;
    width: 100%;
}

.main-section header {
    font-size: 24px;
}

.main-section p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}


/* Media Queries */
@media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
    }

    /* Header - Nav */
    #header-nav {
        justify-content: flex-start;
        height: 100vh;
        position: fixed;
        width: 250px;
        z-index: 2;
    }

    /* Main Content */
    #main-div {
        left: 250px;
        position: absolute;
        z-index: 1;
    }
}